<div class="p-4">
    <div class="container">

        <h4>Welcome {{account.firstName}}!</h4>

        <!-- Button for Lecturer to open lab detail modal -->
        <button style="position:absolute; right: 100px; top:75px;" (click)="openModal('add-modal-1')" *ngIf="isLecturer === true" class="btn btn-primary" >Create Lab</button> <!-- *ngIf="isLecturer === true" -->
        <button style="position:absolute; right: 100px; top:75px;" (click)="openModal('add-modal-1')" *ngIf="isAdmin === true" class="btn btn-primary" >Create Lab</button> <!-- *ngIf="isLecturer === true" -->
    

        <!-- Button for Lecturer to open modal -->


        <!-- <a routerLink="../" href="" class="btn btn-link">Cancel</a> -->

        <hr class="rounded">

        <!-- <h1>Current Lab Swaps</h1> -->
        <h4>Labs with additional slots available:</h4>
        <!-- <a routerLink="add" class="btn btn-sm btn-success ml-3 mb-2">Create Lab Swap Request</a> -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:20%">Lab Module Title</th>
                    <!-- <th style="width:30%">Email</th> -->
                    <th style="width:10%">Week Day</th>
                    <th style="width:10%">Lab Time</th>
                    <th style="width:10%">Room</th>
                    <th style="width:10%">Class Group</th>
                    <th style="width:10%">Slots Available</th>
                    <!-- <th style="width:30%">Role</th> -->
                    <!-- <th style="width:30%">Action</th> -->
                    <th style="width:10%"></th>
                    <!-- <th style="width:20%">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let labSwap of labSwaps">
                <!-- <tr *ngFor="let account of accounts"> -->
                    <!-- <td>{{account.title}} {{account.firstName}} {{account.lastName}}</td> -->
                    <!-- <td>{{account.email}}</td> -->
                    <!-- <td>{{account.role}}</td> -->

                    <td>{{labSwap.labName}}</td>
                    <td>{{labSwap.labDate}}</td>
                    <td>{{labSwap.labTime}}</td>
                    <td>{{labSwap.room}}</td>
                    <td>{{labSwap.classGroup}}</td>
                    <td>{{labSwap.availableLabSlotsNumber}}</td>
                    <td style="white-space: nowrap">
                        
                        <!-- <a routerLink="edit/{{labSwap.id}}" *ngIf="isLecturer === true" class="btn btn-sm btn-primary mr-1">Edit Lab Detail</a> -->
                        <button (click)="deleteLabSwap(labSwap.id)" *ngIf="isLecturer === true" class="btn btn-sm btn-danger mr-1 btn-delete-labSwap">Delete</button>
                        <button (click)="deleteLabSwap(labSwap.id)" *ngIf="isAdmin === true" class="btn btn-sm btn-danger mr-1 btn-delete-labSwap">Delete</button>
                        <!-- <button (click)="openModal('edit-modal-1')" *ngIf="isLecturer === true" class="btn btn-sm btn-primary mr-1">Edit Lab Detail</button> -->
                        <!-- <button (click)="deleteLabSwap(labSwap.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="account.isDeleting">
                            <span *ngIf="labSwap.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!labSwap.isDeleting">Delete</span>
                        </button> -->
                        <button (click)="notifyLecturer(labSwap.id)" *ngIf="isStudent === true" class="btn btn-sm btn-success ml-1">Reserve Slot</button>
                        <button (click)="notifyLecturer(labSwap.id)" *ngIf="isAdmin === true" class="btn btn-sm btn-success ml-1">Reserve Slot</button>
                    </td>
                <!-- </tr> -->
                <tr *ngIf="!labSwaps">
                <!-- <tr *ngIf="!accounts"> -->
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>


        <!-- Modal -->
        <nk-modal id="add-modal-1">
            <form [formGroup]="labSwapForm">
                
                <h4 class="modal-title">Please Enter The Lab Details</h4>
                <div class="modal-header mb-2"></div>
                <div class="form-group col-8">
                    <label>*Lab Module Name</label>
                    <input type="text" formControlName="labName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.labName.errors }" />
                    <div *ngIf="submitted && f.labName.errors" class="invalid-feedback">
                        <div *ngIf="f.labName.errors.required">Lab Module Name is required</div>
                    </div>
                </div>
            
                <div class="form-group col-8">
                    <label>*Week Day</label>
                    <!-- <input type="text" formControlName="labDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.labDate.errors }" />
                    <div *ngIf="submitted && f.labDate.errors" class="invalid-feedback">
                        <div *ngIf="f.labDate.errors.required">Lab Date (string) is required</div>
                    </div> -->
                    <select formControlName="labDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.labDate.errors }">
                        <option value=""></option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                    <div *ngIf="submitted && f.labDate.errors" class="invalid-feedback">
                        <div *ngIf="f.labDate.errors.required">Week Day is required</div>
                    </div>
                </div>

                <div class="form-group col-8">
                    <label>*Lab Time</label>
                    <!-- <input type="text" formControlName="labTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.labTime.errors }" />
                    <div *ngIf="submitted && f.labTime.errors" class="invalid-feedback">
                        <div *ngIf="f.labTime.errors.required">Lab Time (string) is required</div>
                    </div> -->
                    <select formControlName="labTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.labTime.errors }">
                        <option value=""></option>
                        <option value="9:00-10:00">9:00-10:00</option>
                        <option value="9:00-11:00">9:00-11:00</option>
                        <option value="10:00-11:00">10:00-11:00</option>
                        <option value="10:00-12:00">10:00-12:00</option>
                        <option value="11:00-12:00">11:00-12:00</option>
                        <option value="11:00-13:00">11:00-13:00</option>
                        <option value="12:00-13:00">12:00-13:00</option>
                        <option value="12:00-14:00">12:00-14:00</option>
                        <option value="13:00-14:00">13:00-14:00</option>
                        <option value="13:00-15:00">13:00-15:00</option>
                        <option value="14:00-15:00">14:00-15:00</option>
                        <option value="14:00-16:00">14:00-16:00</option>
                        <option value="15:00-16:00">15:00-16:00</option>
                        <option value="15:00-17:00">15:00-17:00</option>
                        <option value="16:00-17:00">16:00-17:00</option>
                        <option value="16:00-18:00">16:00-18:00</option>
                        <option value="17:00-18:00">17:00-18:00</option>
                        <option value="17:00-19:00">17:00-19:00</option>
                        <option value="18:00-19:00">18:00-19:00</option>
                        <option value="18:00-20:00">18:00-20:00</option>
                        <option value="19:00-20:00">19:00-20:00</option>
                    </select>
                    <div *ngIf="submitted && f.labTime.errors" class="invalid-feedback">
                        <div *ngIf="f.labTime.errors.required">Lab Time is required</div>
                    </div>
                </div>

                <div class="form-group col-8">
                    <label>*Class Group</label>
                    <input type="text" formControlName="classGroup" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.classGroup.errors }" />
                    <div *ngIf="submitted && f.classGroup.errors" class="invalid-feedback">
                        <div *ngIf="f.classGroup.errors.required">Class Group is required</div>
                    </div>
                </div>

                <div class="form-group col-8">
                    <label>*Room</label>
                    <input type="text" formControlName="room" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.room.errors }" />
                    <div *ngIf="submitted && f.room.errors" class="invalid-feedback">
                        <div *ngIf="f.room.errors.required">Room is required</div>
                    </div>
                </div>

                <div class="form-group col-8">
                    <label>*No. Of Available Lab Slots</label>
                    <input type="number" formControlName="availableLabSlotsNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.availableLabSlotsNumber.errors }" />
                    <div *ngIf="submitted && f.availableLabSlotsNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.availableLabSlotsNumber.errors.required">No. Of Available Lab Slots (integer) is required!</div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <div class="form-group">
                        <!-- <button (click)="deleteLabSwap(labSwap.id)" class="btn btn-sm btn-danger btn-delete-labSwap">Delete</button> -->

                        <button (click)="closeModal('add-modal-1');" class="btn btn-primary mr-2 ml-3">Close</button>

                        <button (click)="onSubmit()" [disabled]="loading" class="btn btn-success mr-2 ml-3">Save</button>
                    <!-- <button type="button" (click)="onDelete()" [disabled]="deleting" class="btn btn-danger">
                        <span *ngIf="deleting" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                    <a routerLink="../" href="" class="btn btn-link">Cancel</a> -->
                    </div>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </form>
        </nk-modal>

        <!-- Modal -->
        <nk-modal id="edit-modal-1">
            <form [formGroup]="labSwapForm">

                <hr class="rounded"> -->
                <h2>Please Enter The Lab Details</h2>

                <div class="form-group col-8">
                    <label>*Lab Module Name</label>
                    <input type="text" formControlName="labName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.labName.errors }" />
                    <div *ngIf="submitted && f.labName.errors" class="invalid-feedback">
                        <div *ngIf="f.labName.errors.required">Lab Module Name is required</div>
                    </div>
                </div>
            
                <div class="form-group col-5">
                    <label>*Lab Date</label>
                    <input type="text" formControlName="labDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.labDate.errors }" />
                    <div *ngIf="submitted && f.labDate.errors" class="invalid-feedback">
                        <div *ngIf="f.labDate.errors.required">Lab Date (string) is required</div>
                    </div>
                </div>

                <div class="form-group col-5">
                    <label>*Lab Time</label>
                    <input type="text" formControlName="labTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.labTime.errors }" />
                    <div *ngIf="submitted && f.labTime.errors" class="invalid-feedback">
                        <div *ngIf="f.labTime.errors.required">Lab Time (string) is required</div>
                    </div>
                </div>

                <div class="form-group col-5">
                    <label>*Class Group</label>
                    <input type="text" formControlName="classGroup" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.classGroup.errors }" />
                    <div *ngIf="submitted && f.classGroup.errors" class="invalid-feedback">
                        <div *ngIf="f.classGroup.errors.required">Class Group is required</div>
                    </div>
                </div>

                <div class="form-group col-5">
                    <label>*No. Of Available Lab Slots</label>
                    <input type="number" formControlName="availableLabSlotsNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.availableLabSlotsNumber.errors }" />
                    <div *ngIf="submitted && f.availableLabSlotsNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.availableLabSlotsNumber.errors.required">No. Of Available Lab Slots (integer) is required!</div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <div class="form-group">
                        <!-- <button (click)="deleteLabSwap(labSwap.id)" class="btn btn-sm btn-danger btn-delete-labSwap">Delete</button> -->

                        <button (click)="closeModal('edit-modal-1');" class="btn btn-primary mr-2 ml-3">Close</button>

                        <button (click)="onSubmit()" [disabled]="loading" class="btn btn-success mr-2 ml-3">Update</button>
                    <!-- <button type="button" (click)="onDelete()" [disabled]="deleting" class="btn btn-danger">
                        <span *ngIf="deleting" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                    <a routerLink="../" href="" class="btn btn-link">Cancel</a> -->
                    </div>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </form>
        </nk-modal>
    </div>
</div>