// Unused for now.
// .app-container {
//     width: 100vw; 
//     height: 100vh; 
//     overflow: hidden; 
// }
  
// .app-container { 
//    // width: 400%; 
//     //height: 400%; 
//     background: linear-gradient(0.33turn, #217419, #e4e0e1, #a8a6a4, #c5bfbe); 
//     background-size: 100% 100%; 
//     //animation: GradientBackground 12s ease infinite; 
// }
   
// @keyframes GradientBackground { 
//     0%   { transform: translate(0, -50%); } 
//     50%  { transform: translate(-75%, 0); } 
//     100% { transform: translate(0, -50%); } 
// }